<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-wefitter-samsung" version="0.4.0">
    <name>WeFitterSamsung</name>
    <description>A Cordova plugin for WeFitter for Samsung Health</description>
    <keywords>cordova,android,wefitter,samsung</keywords>

    <js-module src="www/wefittersamsung.js" name="wefittersamsung">
        <clobbers target="wefittersamsung" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="WeFitterSamsung">
                <param name="android-package" value="com.wefitter.cordova.plugin.WeFitterSamsung" />
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="GradlePluginKotlinVersion" value="1.5.1" />
            <preference name="AndroidXEnabled" value="true" />
        </config-file>

        <source-file src="src/android/WeFitterSamsung.kt" target-dir="src/main/kotlin/com/wefitter/cordova/plugin" />

        <lib-file src="libs/android/samsung-health-data-1.5.0.aar" />
        <lib-file src="libs/android/wefitter-shealth-1.5.0.aar" />

        <framework src="build-extras.gradle" custom="true" type="gradleReference" />
        <framework src="androidx.security:security-crypto:1.0.0" />
        <framework src="androidx.work:work-runtime-ktx:2.7.1" />
        <framework src="com.github.PhilJay:JWT:1.2.6" />
        <framework src="com.google.code.gson:gson:2.8.9" />
        <framework src="com.squareup.okhttp3:okhttp:4.9.2" />
    </platform>
</plugin>
